In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [ ]:
#  Store Part I results into DataFrame

In [2]:
weather_df = pd.read_csv("../output_data/cities.csv")
weather_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,kirakira,-10.4544,161.9205,26.56,89,100,5.80,SB,1614817398
1,1,fortuna,40.5982,-124.1573,12.78,72,35,0.45,US,1614817424
2,2,rikitea,-23.1203,-134.9692,26.72,81,49,4.00,PF,1614817303
3,3,puerto ayora,-0.7393,-90.3518,26.11,92,22,2.03,EC,1614817314
4,4,toamasina,-18.1667,49.3833,24.00,94,40,1.54,MG,1614817754
...,...,...,...,...,...,...,...,...,...,...
544,544,diapaga,12.0708,1.7889,26.07,17,0,2.85,BF,1614817871
545,545,morondava,-20.2833,44.2833,25.38,92,83,5.01,MG,1614817391
546,546,junagarh,19.8667,82.9333,18.55,34,19,0.85,IN,1614817871
547,547,espanola,35.9911,-106.0806,13.33,10,1,5.14,US,1614817872
548,548,san marcos,33.1434,-117.1661,12.22,87,90,1.54,US,1614817872

In [4]:
# Import API key
from api_keys import g_key
gmaps.configure(api_key=g_key)
locations= weather_df[["Lat", "Lng"]]
humidity = weather_df["Humidity"]

In [ ]:
 # NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]